{% extends 'base.html.twig' %}

{% block title %}Hello CvController!
{% endblock %}

{% block body %}


	<style>

		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
			text-align: center;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<div class="example-wrapper">
		<h1>Naït Belkacem Youness</h1>
		<h2>Développeur web Junior Fullstack</h2>
		<h3>A la recherche d’une alternance d’une année à partir de fin Août 2023.</h3>
		<h3>Rythme: 3 semaines en entreprise / 1 semaine à l'école.</h3>
		<h3>Informations</h3>
		<h4>Téléphone</h4>
		<p>06 61 67 20 39</p>
		<h4>Email</h4>
		<p>youneessnb@hotmail.fr</p>
		<h4>Adresse</h4>
		<p>15 Rue Pierre-Moulie, Ivry-sur-Seine 94200</p>
		<h4>Linkedin</h4>
		<p>youness‐naïtbelkacem</p>
		<h4>Permis</h4>
		<p>Permis b véhiculé</p>
		<h3>Compétences</h3>
		<p>POO</p>
		<p>JavaScript</p>
		<p>typeScript</p>
		<p>HTML</p>
		<p>CSS</p>
		<p>Git</p>
		<h3>Compétences en cours d'acquisition</h3>
		<p>React</p>
		<p>PHP</p>
		<p>SQL</p>
		<p>NOSQL</p>
		<p>Express</p>
		<h3>Centres d'intérêt</h3>
		<p>Boxe anglaise : compétitions en amateurs</p>
		<p>Voyages : exploration, Road trip, Camping sauvage</p>
		<p>Cuisine : ex‐cuisinier dans des hotels étoilés</p>
		<p>Compétions e-sports : (Smash bros, Tekken, Fighterz)</p>
		<h3>Langues</h3>
		<p>Anglais - B1</p>
		<p>Espagnol - A2</p>
		<p>Japonais</p>

		<h3>Formations</h3>
		<p>Formation titre professionel développeur web niveau V titre RNCP (Bac+2) en cours</p>
		<p>Konexio</p>
		<p>2023-2024</p>
		<p>Paris</p>

		<p>Baccalauréat général scientifique Candidat Libre</p>
		<p>2021-2022</p>
		<p>Amiens</p>

		<p>Baccalauréat professionnel cuisine mention assez bien</p>
		<p>Ecole-EPMT</p>
		<p>2019-2021</p>
		<p>Paris</p>

		<p>Filière scientifique spécialité sciences de l'ingénieur</p>
		<p>Lycée Jean Calvin</p>
		<p>2017-2019</p>
		<p>Noyon</p>

		<h3>Projets</h3>
		<div>
			<p>Landing Page</p>
			<p>Konexio</p>
			<p>• Réalisation d’une Landing Page en HTML, CSS et JAVASCRIPT Création d'une page web réalisée en CSS et HTML, avec un formulaire en JAVASCRIPT</p>
			<p>2023</p>
			<p>Durée: 1 semaine</p>
		</div>
		<div>
			<p>Projet scolaire en sciences de l’ingénieur</p>
			<p>Lycée Jean Calvin</p>
			<p>• Création d’un système de scotcheuse automatique développé avec Arduino et modélisé via Solidworks. Mon groupe a été sélectionné aux Olympiades de SI de l'UTC. Nous avons terminé 7ème sur 20 groupes. Modélistion 3D pièce par pièce puis assemblage et production d’une maquette répondant au triptyque Attendu/Simulation/Réel</p>
			<p>2019</p>
			<p>Durée: 1 an</p>
		</div>
		<h3>Expériences Professionnelles</h3>

		<div>
			<p>Bénévole assistant du stand d'Amazon</p>
			<p>Démonstration aux visiteurs de l’utilisation de l’exosquelette d’Amazon pour assister le port de charges lourdes</p>
			<p>Viva Technology</p>
			<p>Paris</p>
			<p>2022</p>
		</div>
		<div>
			<p>Apprenti cuisinier</p>
			<p>Chef de partie responsable des entrées froides et des desserts, services allant jusque 300 couverts. Propositions des entrées et desserts du jour, élaboration des assiettes</p>
			<p>Golf de Saint Cloud</p>
			<p>Garches</p>
			<p>2019-2021</p>
		</div>
	</div>
{% endblock %}
